.keyboard {
    border: 2px solid rgb(177, 227, 211);
    background-color: rgb(166, 213, 215);
}

.R1, .R2, .R3, .R4, .R5 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.display-screen {
    padding: 1rem;
    background-color: rgb(181, 224, 226);
}

.key, .skey, .tab, .caps, .shift, .spacebar, .backspace, .enter {
    background-color: white;
    color: rgb(104, 104, 104);
    font-size: 0.8rem;
    height: 3rem;
    border: 2px solid rgb(193, 235, 233);
}

.key {
    width: 3rem;
}

.skey {
    width: 4.3rem;
}

.tab {
    width: 4.5rem;
}

.caps {
    width: 6rem;
}

.shift {
    width: 7.5rem;
}

.spacebar {
    width: 20.5rem;
}

.backspace {
    width: 5rem;   
}

.enter {
    width: 6rem;
}